/* ./styles/global.css */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ball {
  display: inline-block;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 20%, #2ea9ff, #0066ad 75%, #333 100%);
  text-align: center;
  margin: 1px;
  font-weight: 700;
  line-height: 60px;
  position: relative;
}

.ball:after {
  content: "";
  position: absolute;
  width: 85%;
  padding-top: 15%;
  background: red;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(51, 51, 51, .75) 0, rgba(51, 51, 51, 0) 75%);
}

.ball--small {
  display: inline-block;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 20%, #2ea9ff, #0066ad 75%, #333 100%);
  text-align: center;
  margin: 1px;
  font-weight: 700;
  line-height: 40px;
  position: relative;
}

.introduce__banner {
  background-image: url('../public/images/public/banner.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}